[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = nvim

[init]
	defaultBranch = master

[user]
	email = opadamlee@gmail.com
	name = trg

[credential]
	helper = store --file ~/.my-credentials

[pull]
	ff = true

[color]
	ui = auto

[merge]
    tool = meld

[mergetool]
    keepBackup = false
    prompt = false

[diff]
    algorithm = patience

[pull]
    ff = only

[safe]
	directory = /usr

[status]
	showUntrackedFiles = no




